PROJECT_ADDRESS=http://127.0.0.1:3000
PROJECT_NAME=Reservation System
PORT=8000
ADMIN_PASSWORD=changeme
COOKIE_SECRET=changemetoo

# Database credentials
DB_HOST=127.0.0.1
DB_DATABASE=reservation
DB_USER=reservation
DB_PASS=reservation

SMTP_HOST=smtp.google.com
SMTP_PORT=587
SMTP_USER=user@gmail.com
SMTP_PASS=changemeaswell