<!DOCTYPE html>
<html lang="en">
{{ >_head }}

<style>
	body,
	html {
		height: 100%;
	}

	.login-container {
		height: 100%;
	}
</style>

<body class="d-flex align-items-center justify-content-center">

	<div class="login-container d-flex flex-column align-items-center justify-content-center w-100">
		<div class="card px-3 py-4" style="max-width: 356px; width: 100%;">
			<h3 class="text-center mb-4">Přihlášení správce</h3>
			{{{content.displayAlert}}}
			<form method="post" action="/admin/login/proceed">
				<div class="form-floating mb-4">
					<input type="password" class="form-control" name="passwordInput" placeholder="Password" required
						autofocus>
					<label for="passwordInput">Heslo</label>
				</div>
				<button type="submit" class="btn btn-primary w-100 mb-2">Přihlásit</button>
				<a href="/" class="btn btn-secondary w-100">Na hlavní stránku</a>
			</form>
		</div>
	</div>


</body>

</html>