<!DOCTYPE html>
<html lang="en">
{{ >_head }}

<body>
    <div class="container">
		<div class="align-items-center">
			<div class="row mt-4">
				<div class="lead pb-2 col-md-6 col-sm-12 text-right">
                    Zrušení rezervace <span class="text-secondary">{{ content.params.uuid }}</span></span>
				</div>
			</div>
			{{#content.cancelled}}
            <div class="row text-center mt-5">
                <div class="col-12">
                    <div class="alert alert-success" role="alert">
                        Rezervace byla úspěšně zrušena.
                    </div>
                <div class="col-12">
            </div>
			{{/content.cancelled}}
			{{^content.cancelled}} 
                <div class="row text-center mt-5">
                    <div class="col-12">
                        <div class="alert alert-warning" role="alert">
                            Vaše rezervace nebyla zrušena. Pokud jste tuto rezervaci již zrušil(a), nelze ji zrušit znovu.
                        </div>
                    </div>
                </div>
			{{/content.cancelled}}
		</div>
	</div>
</body>
</html> 